* {
    margin: 0; 
    padding: 0; 
}


/*Nav Bar*/
h1{
  color: lightblue;
  width: 100%;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 35px;
  justify-content: flex-start;
}


.generalnav { 
    background-color: black;
    padding: 30px;
    padding-top: 35px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    float: 
}

.tabs {
  width: 100%; 
  display: inline-flex;
  flex-direction: row; 
  justify-content: flex-end;
  font-size: 28px;
  font-family: "Roboto";
  font-weight: 100;

}

.home, .assignments, .projects {
  padding: 0 10px;
  display: block;
  font-weight: 100;
}

.generalnav ul li a {
  text-decoration: none;
  color: white;
}

.generalnav ul li a:hover {
color: lightblue;
}

body{
  font-family: "Roboto Condensed", serif;
  color: black;
}

.welcome_message{
  padding: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  font-weight: 300; 
}

.dot {
  height: 10px;
  width: 10px;
  background-color: lightblue;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 5px;

}