body {
background-color: white;
font-family: "Helvetica", sans-serif;
color: black;
font-size: 19px;
}

h1{
color: black;
font-family: "Times New Roman", serif;
font-size: 30px;
}

h2{
color: purple;
font-family: "Helvetica", sans-serif;
}

a{
  text-decoration: none;
}

img {
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: black;
  color
}

}
.topnav a.active{
  background-color: black ;
  color: white;
  
}


/*
nav ul {
  background-color: black;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 5px;
 }

nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 75px;
  margin-left: 75px;
  color: white;
}

nav ul li a {
  text-decoration: none;
  color: skyblue;
}
*/
